<fieldset class="box tabular"><legend><%= l(:label_module_plural) %></legend>
  <% Redmine::AccessControl.available_project_modules.each do |m| %>
      <label class="floating">
        <%= check_box_tag 'suggest[enabled_module_names][]', m, @values['enabled_module_names'].include?("#{m}") %>
        <%= l_or_humanize(m, :prefix => "project_module_") %>
      </label>
  <% end %>
</fieldset>

<% unless @trackers.empty? %>
    <fieldset class="box tabular" id="project_trackers"><legend><%=l(:label_tracker_plural)%></legend>
      <% @trackers.each do |tracker| %>
          <label class="floating">
            <%= check_box_tag 'suggest[tracker_ids][]', tracker.id, @values['tracker_ids'].include?("#{tracker.id}") %>
            <%=h tracker %>
          </label>
      <% end %>
    </fieldset>
<% end %>
<% unless @issue_custom_fields.empty? %>
    <fieldset class="box tabular" id="project_issue_custom_fields"><legend><%=l(:label_custom_field_plural)%></legend>
      <% @issue_custom_fields.each do |custom_field| %>
          <label class="floating">
            <%= check_box_tag 'suggest[issue_custom_field_ids][]', custom_field.id, @values['issue_custom_field_ids'].include?("#{custom_field.id}") %>
            <%=h custom_field.name %>
          </label>
      <% end %>
    </fieldset>
<% end %>